<% if(messages.logout) {%>
      <div class="alert alert-success" role="alert"><span class="fa fa-thumbs-o-up"></span><%= messages.logout%></div>
<% } %>
<% if(messages.loggedin) {%>
    <div class="alert alert-success" role="alert"><span class="fa fa-hand-spock-o"></span><%= messages.loggedin%></div>
<% } %>
<% if(messages.usercreated) {%>
    <div class="alert alert-success" role="alert"><span class="fa fa-hand-spock-o"></span><%= messages.usercreated%></div>
<% } %>
<% if(messages.login && !messages.logout) {%>
    <div class="alert alert-danger" role="alert"><span class="fa fa-hand-stop-o"></span><%= messages.login%></div>
<% } %>
<% if(messages.loginMessage) {%>
    <div class="alert alert-danger" role="alert"><span class="fa fa-hand-stop-o"></span><%= messages.loginMessage%></div>
<% } %>
<% if(messages.signupMessage) {%>
    <div class="alert alert-danger" role="alert"><span class="fa fa-hand-stop-o"></span><%= messages.signupMessage%></div>
<% } %>