 <% var poll = polls %>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href='/<%=poll._id%>'><h4 class="panel-title"></a><%= poll.title %></h4></a>
        </div>
        <div class="panel-body">
            <ul>
                <% poll.options.forEach(function(poll) { %>
                    <li><%= poll.text %>    <%= poll.votes %></li>
                <% }); %>
            </ul>
            <input id="del" type="button" class="btn btn-danger" value="Delete" onclick='delPoll(<%=poll._id%>)'/>
        </div>
    </div>
</div>