<!DOCTYPE html>
<html>
  <%- include ../views/partials/_head.ejs %>
  <body>
    <%- include ../views/partials/_flashMessages.ejs %>
      <div class="container logo">
        <%- include ../views/partials/_urtLogo.ejs %>
        
        <%- include ../views/partials/_authButtonGroup.ejs %>
        
        <%- include ../views/partials/_loginRegisterModalBlock.ejs %>
          
      </div>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>

</html>